$bg-color: #eaded7;

.fourniture {
  background-color: $bg-color;
  height: 60vh;
  padding: 2rem;

  h1 {
    text-align: center;
    padding-bottom: 3rem;
    color: #453227;
  }

  &__blocks {
    display: flex;
    justify-content: center;
    margin: 2rem;
    flex-wrap: wrap;
  }
}
