.cart-dropdown {
  position: absolute;
  top: 80px;
  right: 40px;
  height: 350px;
  width: 300px;
  z-index: 5;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;

  .custom-button {
    position: absolute;
    bottom: 10px;
    left: 60px;
  }
}
